.layout-sidebar {
    position: fixed;
    width: 250px;
    height: calc(100vh - 0rem);
    z-index: 999;
    overflow-y: auto;
    user-select: none;
    top: 7rem;
    left: 2rem;
    margin-left: -10px;
    transition: transform $transitionDuration, left $transitionDuration;
    background-color: var(--surface-overlay);
    border-radius: $borderRadius;
    padding: 0.5rem 1.5rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05),
      0px 1px 4px rgba(0, 0, 0, 0.08);

      top: 6rem !important;
      height: calc(100vh - 7rem) !important;
      left: 1rem !important;
      // background-color: #6471E9;
      background-color: #1790FF;
      
      color:white;
  }

  .layout-menu {
    margin-right: 1rem;
    padding: 0;
    list-style-type: none;

    .layout-root-menuitem {
      > .layout-menuitem-root-text {
        font-size: 0.857rem;
        text-transform: uppercase;
        font-weight: 700;
        color:rgba(216, 216, 216, 0.664);
        margin: 0.75rem 0;
      }

      > a {
        display: none;
      }
    }

    a {
      user-select: none;

      &.active-menuitem {
        > .layout-submenu-toggler {
          transform: rotate(-180deg);
        }
      }
    }

    li.active-menuitem {
      > a {
        .layout-submenu-toggler {
          transform: rotate(-180deg);
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      a {
        display: flex;
        align-items: center;
        position: relative;
        outline: 0 none;
        // color: var(--text-color);
        color:rgba(255, 255, 255, 0.904);
        cursor: pointer;
        padding: 0.75rem 1rem;
        border-radius: $borderRadius;
        transition: background-color $transitionDuration,
          box-shadow $transitionDuration;

        .layout-menuitem-icon {
          margin-right: 0.5rem;
        }

        .layout-submenu-toggler {
          font-size: 75%;
          margin-left: auto;
          transition: transform $transitionDuration;
        }

        &.active-route {
          font-weight: 900;
          color:white;
          // background-color: rgba(0, 255, 255, 0.281);
          background:linear-gradient(45deg, #9ed1ff8a, #7bc0ff82, #52acff8a, #3fa3ff45);
          // background: linear-gradient(45deg, #1790FF ,#1790FF,#1790FF, #1790FF);
        }

        &:hover {
          // background-color: var(--surface-hover);
          background-color:rgba(168, 168, 168, 0.212);
        }

        &:focus {
          @include focused-inset();
        }
      }

      ul {
        overflow: hidden;
        border-radius: $borderRadius;

        li {
          a {
            margin-left: 1rem;
          }

          li {
            a {
              margin-left: 2rem;
            }

            li {
              a {
                margin-left: 2.5rem;
              }

              li {
                a {
                  margin-left: 3rem;
                }

                li {
                  a {
                    margin-left: 3.5rem;
                  }

                  li {
                    a {
                      margin-left: 4rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
