<div class="welcome-container">
    <div class="welcome-content">
        <div class="logo-container text-center -top">
            <img
                src="assets/npst_logo.png"
                alt="NPST Logo"
                class="logo"
                style="width: 420px; height: 110px"
            />
        </div>
        <div class="relative p-6 overflow-hidden">
            <div class="text-center my-6 relative">
                <div class="text-7xl text-white font-bold mb-4">VCard</div>
                <p
                    class="mt-0 mb-4 line-height-3 text-center mx-auto text-white"
                    style="max-width: 500px; font-size: 22px"
                >
                    Empower Connections, Simplify Sharing: Your Visiting Card in
                    the Digital Age!
                </p>
                <button
                    routerLink="/card"
                    label="Learn More"
                    type="button"
                    class="p-element p-ripple p-button p-component"
                    style="width: 150px; height: 45px; border-radius: 16px"
                >
                    <span class="p-button-label" style="font-size: 18px"
                        >Start Now</span
                    >
                    <span class="p-ink"></span>
                </button>
            </div>
        </div>

        <!-- <h1 class="heading">Welcome!</h1>

        <h3 class="heading2">TimePay Vcard</h3> -->
        <br />

        <br />
        <br />
        <div class="mr-4">
            <!-- <button *ngIf="isExploreButtonVisible" class="button" (click)="scrollToSection('fentech')"  id="detailsButton">Explore</button> -->
            <!-- Modify the "Explore" button to include a click event -->
            <!-- <button
        class="button"
        (click)="scrollToSection('about')"
      >
        Timepay Vcard
      </button> -->
        </div>
    </div>
</div>
