<div class="card">
    <p-table
        #dt1
        [value]="contacts"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '100rem' }"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['firstName', 'lastName', 'phoneNumber' , 'email']"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <button
                    pButton
                    label="Clear"
                    class="p-button-outlined"
                    icon="pi pi-filter-slash"
                    (click)="clear(dt1)"
                ></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt1.filterGlobal($event.target.value, 'contains')
                        "
                        placeholder="Search keyword"
                    />
                </span>
                <p-button label="Add Card" (click)="AddCard()"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    First Name
                    <!-- <p-columnFilter type="text" field="name" display="menu"></p-columnFilter> -->
                </th>
                <th>
                    Last Name
                    <!-- <p-columnFilter type="text" field="state.name" display="menu"></p-columnFilter> -->
                </th>
                <th>
                    Email
                    <!-- <p-columnFilter type="date" field="date" display="menu"></p-columnFilter> -->
                </th>
                <th>
                    Phone Number
                    <!-- <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter> -->
                </th>
                <th>
                    Company Name
                    <!-- <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter> -->
                </th>
                <th>
                    Job Title
                    <!-- <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter> -->
                </th>
                <th style="min-width: 10rem">
                    Address
                    <!-- <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter> -->
                </th>
                <th style="min-width: 10rem">
                    Action
                    <!-- <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter> -->
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>
                    {{ customer.firstName }}
                </td>
                <td>
                    <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + customer.state.code" style="width: 20px" /> -->
                    <span class="ml-1 vertical-align-middle">{{
                        customer.lastName
                    }}</span>
                </td>

                <td>
                    {{ customer.email }}
                </td>
                <td>
                    {{ customer.phoneNumber }}
                </td>
                <td>
                    {{ customer.companyName }}
                </td>
                <td>
                    {{ customer.jobTitle }}
                </td>
                <td>
                    {{ customer.address }}
                </td>

                <td>
                    <button
                        pButton
                        type="button"
                        (click)="menu.toggle($event)"
                        icon="pi pi-ellipsis-v"
                    ></button>
                </td>
                <!-- <td>
                   <p-tag [value]="customer.status" [severity]="getSeverity(customer.status)"></p-tag>
               </td> -->
                <!-- <td class="text-center">
                   <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': customer.verified, 'text-red-500 pi-times-circle': !customer.verified }"></i>
               </td> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-menu #menu [model]="items" [popup]="true"></p-menu>
