<p-button
    class="back-button"
    [routerLink]="['/card/cardlist']"
    icon="pi pi-arrow-left"
    nzShape="circle"
></p-button>
<br /><br />
<div class="container card">
    <form [formGroup]="cardGroup">
        <h5>Card Details</h5>
        <div class="flex gap-5 flex-column-reverse md:flex-row">
            <div class="flex-auto p-fluid">
                <div class="formgrid grid">
                    <div class="field col-12 lg:col-4 md:col-12">
                        <label htmlFor="firstname"
                            >First Name<span class="text-red-600">
                                *</span
                            ></label
                        >
                        <input
                            #myInputField
                            pInputText
                            id="firstname"
                            type="text"
                            formControlName="firstName"
                            placeholder="Enter first name"
                            pattern="^[A-Za-z ]{2,}$"
                            maxlength="30"
                        />
                        <app-validation
                            [control]="cardGroup.get('firstName')"
                            [controleName]="'firstName'"
                        ></app-validation>
                    </div>

                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2" htmlFor="username"
                            >Last Name<span class="text-red-600"> </span
                        ></label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <input
                                pInputText
                                placeholder="Last Name"
                                formControlName="lastName"
                                maxlength="45"
                                oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')"
                            />
                        </div>
                    </div>
                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2" htmlFor="username"
                            >Email<span class="text-red-600"> *</span></label
                        >
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <input
                                pInputText
                                placeholder="Email"
                                formControlName="email"
                                maxlength="45"
                            />

                            <!-- oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')" -->
                        </div>
                        <app-validation
                            [control]="cardGroup.get('email')"
                            [controleName]="'Email'"
                        ></app-validation>
                    </div>
                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2" htmlFor="username"
                            >phone NO<span class="text-red-600"> *</span></label
                        >
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-phone"></i>
                            </span>
                            <input
                                pInputText
                                placeholder="phone NO"
                                formControlName="phoneNo"
                                maxlength="10"
                                oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                            />
                        </div>
                        <app-validation
                            [control]="cardGroup.get('phoneNo')"
                            [controleName]="'Phone Number'"
                        ></app-validation>
                    </div>

                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="panNo"
                            >Company Name<span class="text-red-600"
                                >*</span
                            ></label
                        >
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <input
                                pInputText
                                placeholder="CompanyName"
                                formControlName="companyName"
                                maxlength="10"
                            />
                        </div>
                        <app-validation
                            [control]="cardGroup.get('companyName')"
                            [controleName]="'Company Name'"
                        ></app-validation>
                    </div>

                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2"
                            >JobTitle<span class="text-red-600"> *</span></label
                        >
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-envelope"></i>
                            </span>
                            <input
                                pInputText
                                placeholder="JobTitle"
                                [maxlength]="15"
                                formControlName="jobtitle"
                                oninput="this.value = this.value.replace(/[^a-zA-Z0-9]/g, '')"
                            />
                        </div>
                        <app-validation
                            [control]="cardGroup.get('jobtitle')"
                            [controleName]="'Job Title'"
                        ></app-validation>
                    </div>
                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2"
                            >Address<span class="text-red-600"> *</span></label
                        >
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-envelope"></i>
                            </span>
                            <input
                                pInputText
                                placeholder="Address"
                                [maxlength]="15"
                                formControlName="address"
                                oninput="this.value = this.value.replace(/[^a-zA-Z0-9]/g, '')"
                            />
                        </div>
                        <app-validation
                            [control]="cardGroup.get('address')"
                            [controleName]="'Address'"
                        ></app-validation>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center">
            <p-button label="Submit" (click)="onSave()"></p-button>
        </div>
    </form>
</div>
