<p-button
    class="back-button"
    [routerLink]="['/card/cardlist']"
    icon="pi pi-arrow-left"
    nzShape="circle"
></p-button>
<br /><br />
<div class="container card">
    <form [formGroup]="cardGroup">
        <h5>Card Details</h5>
        <div class="flex gap-5 flex-column-reverse md:flex-row">
            <div class="flex-auto p-fluid">
                <div class="formgrid grid">
                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2" htmlFor="username"
                            >First Name<span class="text-red-600"> *</span></label
                        >
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <input
                                pInputText
                                placeholder="First Name"
                                formControlName="firstName"
                                maxlength="45"
                                oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')"
                            />
                        </div>
                        <app-validation
                            [control]="cardGroup.get('firstName')"
                            [controleName]="'firstName'"
                        ></app-validation>
                    </div>

                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2" htmlFor="username"
                            >Last Name<span class="text-red-600"> </span
                        ></label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <input
                                pInputText
                                placeholder="Last Name"
                                formControlName="lastName"
                                maxlength="45"
                                oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')"
                            />
                        </div>
                    </div>
                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2" htmlFor="username"
                            >Email<span class="text-red-600"> *</span></label
                        >
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-envelope"></i>
                            </span>
                            <input
                                pInputText
                                placeholder="Email"
                                formControlName="email"
                                maxlength="45"
                            />
                        </div>
                        <app-validation
                            [control]="cardGroup.get('email')"
                            [controleName]="'Email'"
                        ></app-validation>
                    </div>
                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2" htmlFor="username"
                            >Phone Number<span class="text-red-600">
                                *</span
                            ></label
                        >
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-phone"></i>
                            </span>
                            <input
                                pInputText
                                placeholder="Phone Number"
                                formControlName="phoneNumber"
                                maxlength="10"
                                oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                            />
                        </div>
                        <app-validation
                            [control]="cardGroup.get('phoneNumber')"
                            [controleName]="'Phone Number'"
                        ></app-validation>
                    </div>

                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="panNo"
                            >Company Name<span class="text-red-600"
                                >*</span
                            ></label
                        >
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-building"></i>
                            </span>
                            <input
                                pInputText
                                placeholder="CompanyName"
                                formControlName="companyName"
                            />
                        </div>
                        <app-validation
                            [control]="cardGroup.get('companyName')"
                            [controleName]="'Company Name'"
                        ></app-validation>
                    </div>

                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2"
                            >JobTitle<span class="text-red-600"> *</span></label
                        >
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <input
                                pInputText
                                placeholder="JobTitle"
                                formControlName="jobTitle"
                            />
                        </div>
                        <app-validation
                            [control]="cardGroup.get('jobTitle')"
                            [controleName]="'Job Title'"
                        ></app-validation>
                    </div>
                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2"
                            >Address<span class="text-red-600"> *</span></label
                        >
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-map-marker"></i>
                            </span>
                            <input
                                pInputText
                                placeholder="Address"
                                formControlName="address"
                            />
                        </div>
                        <app-validation
                            [control]="cardGroup.get('address')"
                            [controleName]="'Address'"
                        ></app-validation>
                    </div>
                   

                </div>
                <p-button  style="float: left;"(click)="showDialog()" label="Add Custom Field"></p-button>
                <p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2" htmlFor="username"
                            >Custom Lable<span class="text-red-600"> *</span></label
                        >
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <input
                                pInputText
                                placeholder="Custom field"
                                formControlName="customField"
                                maxlength="45"
                                oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')"
                            />
                        </div>
                        <app-validation
                            [control]="cardGroup.get('customField')"
                            [controleName]="'customField'"
                        ></app-validation>
                    </div>
                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2" htmlFor="username"
                            >Value<span class="text-red-600"> *</span></label
                        >
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <input
                                pInputText
                                placeholder="Value"
                                formControlName="value"
                                maxlength="45"
                                oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')"
                            />
                        </div>
                        <app-validation
                            [control]="cardGroup.get('customLable')"
                            [controleName]="'customLable'"
                        ></app-validation>
                    </div>
                    <div style="float: right; margin-top: -2rem;">
                        <p-button label="Submit" (click)="onSave()"></p-button>
                    </div>
                </p-dialog>
            </div>
        </div>
        <div style="float: right; margin-top: -2rem;">
            <p-button label="Submit" (click)="onSubmit()"></p-button>
        </div>
    </form>
</div>

<p-toast></p-toast>
